<% @page_title = "Login" -%>
<div id="login_form">
  <h1>Log in</h1>
  <div class="flash">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
  </div>
  <%= form_tag(:action => 'login_attempt') do %>
    <p>Username or Email:</br> <%= text_field_tag(:username_or_email) %></p>
    <p>Password:</br> <%= password_field_tag :login_password %></p>
    <%= submit_tag("Log In") %>
  <% end %>
  <%= link_to "Signup", controller: "users", action: "new" %>
</div>
