<% @page_title = "Login" -%>
<% content_for :specific_css do %>
  <%= stylesheet_link_tag 'login', media: 'all' %>
<% end %>
<% content_for :specific_js do %>
  <script type="text/javascript">
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    document.getElementById("ggUserName").value = profile.getName();
    document.getElementById("ggUserEmail").value = profile.getEmail();
    document.getElementById("loginGGSubmit").click();
  }
  </script>
<% end %>
<div id="loginBody">
  <div id="loginCenteringDiv"></div>
  <div id="loginMiddlingDiv"></div>
  <div id="loginContent">
    <div class="flash">
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
    </div>
    <div id="loginForm">
      <%= form_tag(:action => 'login_attempt') do %>
        <div id="loginInnerDiv">
          <div id="loginUser">
            Username or Email:
            <%= text_field_tag(:username_or_email, nil, class: "loginInput") %>
          </div>
          <div id="loginPassword">
            Password:
            <%= password_field_tag :login_password, nil, class: "loginInput" %>
          </div>
          <div id="loginSubmit">
            <%= submit_tag("Login", class: "loginButton") %>
          </div>
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
          <div id="loginWindowLinks">
            <%= link_to ">Create Account", controller: "users", action: "new" %></br>
          </div>
        </div>
      <% end %>
    </div>
    <div id="loginWithGoogleForm" style="display:none;">
      <%= form_tag(:action => 'login_google') do %>
        <%= hidden_field(:user, :name, {:id => :ggUserName}) %>
        <%= hidden_field(:user, :email, {:id => :ggUserEmail}) %>
        <%= submit_tag("Login", id: "loginGGSubmit") %>
      <% end %>
    </div>
  </div>
</div>
