<% @page_title = "Game" %>
<% @body_class = "template" %>
<% content_for :specific_css do %>
  <%= stylesheet_link_tag '/TemplateData/style.css', media: 'all' %>
<% end %>
<% content_for :specific_js do %>
  <script type="text/javascript">
  function stats(gT, s, k, sF, sH) {
    document.getElementById("duration").value = gT;
    document.getElementById("score").value = s;
    document.getElementById("enemies").value = k;
    document.getElementById("shot").value = sF;
    document.getElementById("hit").value = sH;
    /*if (gT > <%= @current_user[:longest_duration] %>) {
      document.getElementById("longest_duration").value = gT;
    }
    if (s > <%= @current_user[:max_points] %>) {
      document.getElementById("max_points").value = s;
    }*/
    document.getElementById("statsSubmit").click();
  }
  </script>
  <%= javascript_include_tag '/TemplateData/UnityProgress.js' %>
<% end %>
<div class="template-wrap clear">
  <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="960px"></canvas>
  <br>
  <div class="logo"></div>
  <div class="fullscreen">
    <%= image_tag '/TemplateData/fullscreen.png', size: '38', alt: 'Fullscreen', onClick: 'SetFullscreen(1);' %>
  </div>
  <div class="title">Bender</div>
</div>
<div id="statisticForm" style="display:none;">
  <%= form_tag(user_path(@current_user.id), method: :put) do %>
    <%= hidden_field(:user, :total_duration, {:id => :duration}) %>
    <%= hidden_field(:user, :longest_duration, {:id => :longest_duration}) %>
    <%= hidden_field(:user, :max_points, {:id => :max_points}) %>\
    <%= hidden_field(:user, :total_points, {:id => :score}) %>
    <%= hidden_field(:user, :enemies_killed, {:id => :enemies}) %>
    <%= hidden_field(:user, :projectiles_fired, {:id => :shot}) %>
    <%= hidden_field(:user, :accuracy, {:id => :hit}) %>
    <%= submit_tag("Update", id: "statsSubmit") %>
  <% end %>
</div>
<script type='text/javascript'>
var Module = {
  TOTAL_MEMORY: 268435456,
  errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
  compatibilitycheck: null,
  backgroundColor: "#222C36",
  splashStyle: "Light",
  dataUrl: "/Release/Geomancer_v2_Release.data",
  codeUrl: "/Release/Geomancer_v2_Release.js",
  asmUrl: "/Release/Geomancer_v2_Release.asm.js",
  memUrl: "/Release/Geomancer_v2_Release.mem"
};
</script>
<%= javascript_include_tag '/Release/UnityLoader.js' %>
<div class="g-plus" data-action="share" data-align="left" data-annotation="inline" data-height="30" data-expandTo="right"></div>
