<% @page_title = "Home" -%>
<% content_for :specific_css do %>
  <%= stylesheet_link_tag 'splashscreen', media: 'all' %>
<% end %>
<div id="splashScreenBody">
  <h1> Geomancer </h1>
  <div id="splashScreenCenteringDiv"></div>
  <div id="splashScreenMiddlingDiv"></div>
  <div id="splashScreenContent">
    <form id="splashScreenForm">
      <div id="splashScreenInnerDiv">
        <div id="splashScreenHeader">
          <img id="splashScreenHeaderImage">
        </div>
        <div id="splashScreenButtonDiv">
          <button onclick="window.location.href='<%= game_path %>'" type="button" id="splashScreenPlayGame" class="splashScreenButton">Play Game</button>
        </div>
        <div id="splashScreenButtonDiv">
          <button onclick="window.location.href='<%=leaderboard_path%>'" type="button" id="splashScreenLeaderboard" class="splashScreenButton">Leaderboard</button>
        </div>
        <% if @current_user.present? %>
        <div id="splashScreenButtonDiv">
          <button onclick="window.location.href='<%= profile_user_path(@current_user.id) %>'" type="button" id="splashScreenProfile" class="splashScreenButton">Profile</button>
        </div>
        <div id="splashScreenButtonDiv">
          <button onclick="window.location.href='<%= edit_user_path(@current_user.id) %>'" type="button" id="splashScreenSettings" class="splashScreenButton">Settings</button>
        </div>
        <div id="splashScreenButtonDiv">
          <button onclick="window.location.href='<%= sessions_logout_path(@current_user.id) %>'" type="button" id="splashScreenSettings" class="splashScreenButton">Log Out</button>
        </div>
        <% end %>
      </div>
    </form>
  </div>
</div>
