<h1>Users#profile</h1>
<p>Hello <%= @current_user[:name] %></p>
<%= link_to 'Home', home_path %> |
<% if (@current_user[:admin]) %>
  <%= link_to 'Index', users_path %> |
<% end %>
<%= link_to 'Logout', sessions_logout_path %>
<table>
  <thead>
    <tr>
      <th> Total Duration </th>
      <th> Longest Duration </th>
      <th> Total Points </th>
      <th> Max Points </th>
      <th> Enemies Killed </th>
      <th> Projectiles Fired </th>
      <th> Accuracy </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @current_user.total_duration %></td>
      <td><%= @current_user.longest_duration %></td>
      <td><%= @current_user.total_points %></td>
      <td><%= @current_user.max_points %></td>
      <td><%= @current_user.enemies_killed %></td>
      <td><%= @current_user.projectiles_fired %></td>
      <td><%= @current_user.accuracy %></td>
    </tr>
  </tbody>
</table>
