<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title =%></title>
    <%= csrf_meta_tags %>
    <%= yield :specific_js %>
    <%= yield :specific_css %>
  </head>
<% if @body_class.present? %>
  <body class="<%= @body_class %>">
<% else %>
  <body>
<% end %>
    <%= yield %>
  </body>
</html>
