<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title =%></title>
    <%= csrf_meta_tags %>
    <%= yield :specific_js %>
    <%= yield :specific_css %>
    <link rel="canonical" href="https://shielded-everglades-90801.herokuapp.com/" />
    <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
    <meta name="google-signin-client_id" content="800911139252-jmip351mpqiaa1t9accmg65je1c80ich.apps.googleusercontent.com">
  </head>
<% if @body_class.present? %>
  <body class="<%= @body_class %>">
<% else %>
  <body>
<% end %>
    <%= yield %>
  </body>
</html>
